.wordLetters {
  background-color: papayawhip;
  height: 40px;
  width: 40px;
  border: 2px black solid;
  border-radius: 3px;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  display: inline-block;
  margin-right: 10px;
}
